* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation--isActive {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px black;
          box-shadow: 0 5px 20px black;
}

.navigation--isActive .navigation__logo {
  color: black;
}

.navigation--isActive .navigation__link {
  color: black;
}

.navigation--isActive .navigation__toggle {
  color: black;
}

.navigation__logo {
  position: relative;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.navigation__list {
  position: fixed;
  top: 80px;
  left: -100%;
  display: block;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 200px 50px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation__list--active {
  left: 0;
}

.navigation__listItem {
  position: relative;
  list-style: none;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 20px;
}

.navigation__listItem:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  font-style: italic;
}

.navigation__link {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
}

.navigation__toggle {
  font-size: 30px;
  margin: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.main {
  padding: 10px;
  position: relative;
  min-height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__hello {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.main__textBox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.main__name {
  font-size: 30px;
  font-weight: bold;
}

.main__description {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.main__button {
  position: relative;
  background-color: black;
  display: inline-block;
  color: white;
  border: 2px solid white;
  border-radius: 10%;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-box-shadow: 0 5px 200px white;
          box-shadow: 0 5px 200px white;
  -webkit-transition: 1s;
  transition: 1s;
}

.main__button:hover {
  background-color: #fff;
  color: black;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

.about {
  padding: 10px;
  min-height: 100vh;
}

.about__title {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  min-height: 60vh;
  text-align: center;
  margin-top: 20px;
}

.about__textTitle {
  margin: 30px 0;
  font-size: 20px;
}

.about__description {
  font-size: 14px;
}

.about__image {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  min-height: 60vh;
  background-image: url(../images/myphoto.png);
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */