.about{
    padding: 10px;
    min-height: 100vh;
&__title{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
&__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
&__text{
    flex-basis: 80%;
    min-height: 60vh;
text-align: center;
margin-top: 20px;

}
&__textTitle{
    margin: 30px 0;
    font-size: 20px;
}
&__description{
    font-size: 14px;
}
&__image{
    flex-basis: 80%;
    min-height: 60vh;
    background-image: url(../images/myphoto.png);
    background-position: center;
    background-size: cover;
}
}