.work{
    padding: 10px;
    min-height: 100vh;
    &__title{
        text-align: center;
        font-size: 30px;
        margin:10px;
    }
    &__content{
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    &__project{
        margin-top: 40px;
        flex-basis: 90%;
        min-height: 30vh;
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid black;
        transition: .3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
      
    }
    &__projectTitle{
        font-size:20px;
        padding: 10px;
    }
    &__image{
width: 100%;
    }
    &__projectBtn{
        flex-basis: 40%;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        padding: 5px;
        border: 2px solid black;
        color: black;
        font-size: 20px;
        font-weight: bold;
        transition: .5s;
        cursor: pointer;
        &:hover{
            background-color:black;
            color: white;
        }
    }
    
}