*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden
}
@import 'header';
@import 'main';
@import 'about';
@import 'skills';
@import 'work';
@import 'contact';
@import 'footer';