*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
@import 'header';
@import 'main';
@import 'about';
@import 'skills'